:root {
  --color1: #3f2a53;
  --color2: #75619d;
  --color3: #beaedb;
  --color4: #e6eff8;
  --textColours: #000000;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: var(--textColours);
  margin: 0;
  padding: 0;
}

.body:hover{
  color: var(--color1);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bolder;
  background-color: var(--color2);
  font-size: larger;
}

.h-entry h1 {
  color: var(--color1);
}

.summary {
  align-items: center;
  font-style: italic;
}

.quote {
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.blogContainer {
  gap: 20px;
  padding: 30px;
  max-width: fit-content;
  margin: auto;
  background-color: var(--color3);
}

.h-entry {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.image {
  width: 500px;
  height: 400px;
  border-radius: 10px;
}

.postTitle {
  font-size: large;
  margin-bottom: 10px;
  background-color: var(--color3);
}

.paragraphs {
  font-size: 16px;
}

.returnButton {
  color: var(--color4);
}

footer {
  background-color: var(--color1);
  color: var(--color4);
  align-items: center;
}

.u-url {
  color: var(--color3);
  font-style: italic;
}

.nav-u-url{
  color: var(--textColours);
}

.navLinks ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; 
}