

.blogContainer {
  display: flex;
}

.containerCard {
  /* background-color: var(--color3); */
  color: var(--textColours);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 15px;
  border: var(--whiteBorder) solid 1px;
}


.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    padding: 15px;
  }

  .navLinks ul {
    flex-direction: column;
    gap: 10px;
  }

  .navLinks button {
    font-size: medium;
    padding: 10px;
    width: 100%;
  }

  .blogContainer {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .blogCard {
    width: 90%;
    margin: 10px 0;
  }

  footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: medium;
  }

  .navLinks ul {
    gap: 8px;
  }

  .nav-u-url {
    font-size: small;
  }

  .navLinks button {
    font-size: small;
    padding: 8px;
  }

  .blogCard {
    width: 100%;
    padding: 0.75rem;
  }

  .copyright {
    font-size: x-small;
  }
}





