:root {
  --color1: #3f2a53;
  --color2: #75619d;
  --color3: #beaedb;
  --color4: #e6eff8;
  --textColours: #000000;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color4);
  color: var(--textColours);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bolder;
  background-color: var(--color4);
  font-size: x-large;
}

main {
  flex: 1;
}

.nav-u-url{
  color: var(--color1);
  font-size: medium;
}

.navLinks ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; 
  top: 2px;
  text-transform:uppercase;
}

.navLinks ul li a:hover{
  color: var(--textColours);
  font-size: large;
}

.navLinks ul li a .active{
  color: var(--textColours);
}

.nav-u-url a:active{
  color: #000000;
}

.designContainer {
  gap: 20px;
  padding: 30px;
  max-width: fit-content;
  margin: auto;
  background-color: var(--color4);
}

.designTitle {
  font-size: large;
  margin-bottom: 10px;
  background-color: var(--color3);
}

footer {
  display: flex;
  background-color: var(--color1);
  color: var(--color4);
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.copyright {
  font-size: small;
}
