.latestBlog {
  background-color: var(--color3);
}

.designContainer {
  display: flex;
}

.designCard {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin: 15px;
}

.thumbnail {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.h-feed {
  gap: 20px;
  padding: 30px;
  max-width: fit-content;
  margin: auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    padding: 15px;
  }

  .navLinks ul {
    flex-direction: column;
    gap: 10px;
  }

  .navLinks button {
    width: 100%;
    padding: 10px;
    font-size: medium;
  }

  .containerCard,
  .thumbnail {
    width: 90%;
    margin: 10px 0;
  }

  .h-feed {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: medium;
  }

  .nav-u-url {
    font-size: small;
  }

  .navLinks button {
    font-size: small;
    padding: 8px;
  }

  .copyright {
    font-size: x-small;
  }
}
