:root {
    --color1: #3f2a53;
    --color2: #75619d;
    --color3: #beaedb;
    --color4: #e6eff8;
    --textColours: #000000;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--color4);
    color: var(--textColours);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bolder;
    background-color: var(--color4);
    font-size: x-large;
  }
  
  main {
    flex: 1;
  }

  .u-photo {
    max-width: 250px;
}

/* NAV BAR LIST */
.nav-u-url{
  color: var(--color1);
  font-size: medium;
}

.navLinks ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; 
  top: 2px;
  text-transform: uppercase;
}

.navLinks ul li a:hover{
  color: var(--textColours);
  font-size: large;
}

.navLinks ul li a .active{
  color: var(--color4);
}
 /* NAV BAR BUTTONS */

.navLinks button{
  background: var(--color4);
  color: var(--textColours);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  text-transform:uppercase;
}

.navLinks button:hover{
  color: var(--color4);
  background-color: var(--color2);
  font-weight: 400;
}

.navLinks button.active {
  color: var(--color4);
  background-color: var(--color2);
  font-weight: bold;
}

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .image-grid li {
    width: 100%;
    height: 200px;
  }
  
  .image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  footer {
    display: flex;
    background-color: var(--color1);
    color: var(--color4);
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
  }
  
  .copyright {
    font-size: small;
  }

  img
  {
      width:100%
  }
  
  .profileProfileImg
{
    width: 100%;
    border-radius: 100%;
}

  a
  {
      text-decoration: none;
      color: var(--color1);
  }
  
  .description{
      font-size: large;
      font-weight: 400;
      color: var(--textColours);
      
  }
  
  .container
  {
    gap: 20px;
    padding: 30px;
    max-width: fit-content;
    margin: auto;
    background-color: var(--color4);
  }
  
  @media only screen and (max-width: 768px)
  {
      .container
      {
          width: 100%;
          grid-template-columns: 1fr;
          gap: 7rem;
      }
    }
  
  .profile
  {
      grid-column: 1 / -1; 
      margin-bottom: 2rem;
  }
  
  .profileContainer
  {
      display: flex;
      gap: 2rem;
      max-width: fit-content;
      margin: auto;
  }
  
  .profileProfileImg
  {
      max-width: 250px;
      /* margin-bottom: ; */
  }
  
  .title {
      font-size: large;
      margin-bottom: 10px;
      background-color: var(--color3);
  }
  
  .profileTitle
  {
      font-size: 1.2rem;
     font-weight: 600;
     text-transform: uppercase;
  }
  
  .DownloadButton{
      display: block;
      text-decoration: underline;
      font-size: 1.2rem;
      margin-top: 1rem;
      font-weight: 600;
  }
  
  .DownloadButton:hover{
      color: var(--color2);
  }
  
  .myWork {
    max-width: auto;
    margin: auto;
    gap: 20px;
    margin-bottom: 30px;
    padding: 30px;

  }

  .u-url {
    color: var(--color2);
    font-style: italic;
  }

  @media only screen and (max-width: 768px){
      .profile_container{
          flex-direction: column;
      }
  }
  