:root {
  --color1: #3f2a53;
  --color2: #75619d;
  --color3: #beaedb;
  --color4: #e6eff8;
  --headerBackground: #e6eff8;
  --textColours: #000000;
  --footerBackground: #3f2a53;
  --footerText: #e6eff8;
  --containerBackground: #e6eff8;
  --arrow: #e6eff8;
}

/* Dark Mode */
body.dark-mode {
--color4: black;
--headerBackground: black;
--containerBackground: black;
--textColours: #f9f9f9;
--arrow: #e6eff8;
  background-color: var(--color4);
  color: var(--textColours);
}

body.dark-mode .header {
  background-color: var(--headerBackground);
}

body.dark-mode .footer {
  background-color: var(--footerBackground);
  color: var(--footerText);
}

body.dark-mode .blogContainer {
  color: black;
}

.toggle-switch {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  user-select: none;
  float: none;
  gap: 0.5rem;
}

.toggleText {
  font-size: medium;
  color: var(--textColours);
  margin-right: 0.5rem;
  font-weight: bold;
}

.toggle-switch input {
  display: none;
}
.slider {
  display: block;
  width: 60px;
  height: 30px;
  background: var(--color3);
  border-radius: 30px;
  position: relative;
  transition: background 0.5s;
}
.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: var(--color2);
  border-radius: 50%;
  transition: left 0.5s, background 0.5s;
}
.toggle-switch input:checked + .slider {
  background: var(--color2);
}
.toggle-switch input:checked + .slider::before {
  left: 33px;
  background: var(--color1);
}

/* Nav Bar */
.nav-u-url {
  color: var(--color1);
  font-size: medium;
}

.navLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  top: 2px;
  text-transform: uppercase;
}

.navLinks ul li a:hover {
  color: var(--textColours);
  font-size: large;
}

.navLinks ul li a .active {
  color: var(--color4);
}
/* NAV BAR BUTTONS */

.navLinks button {
  background: var(--headerBackground);
  color: var(--textColours);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  text-transform: uppercase;
}

.navLinks button:hover {
  color: var(--color4);
  background-color: var(--color2);
  font-weight: 400;
}

.navLinks button.active {
  color: var(--color4);
  background-color: var(--color2);
  font-weight: bold;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bolder;
  background-color: var(--headerBackground);
  font-size: x-large;
  position: fixed;
  width: 98%;
  top: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color4);
  color: var(--textColours);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/* Footer */
footer {
  display: flex;
  background-color: var(--footerBackground);
  color: var(--footerText);
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.copyright {
  font-size: small;
}

/* To Top Button */
#toTopBtn {
  display: none; 
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: var(--color2);
  font-weight: bold;
  color: var(--arrow);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, color 0.3s, transform 0.2s;
}

#toTopBtn:hover {
  background-color: var(--color2);
  color: var(--color4);
  transform: scale(1.1);
}